body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f1e8; /* Light beige */
    color: #333;
}

header {
    background-color: #524e4d; /* Dark grayish brown */
    color: #f4f1e8; /* Light beige */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #524e4d; /* Dark grayish brown */
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d9ad7c; /* Light brown */
}

section {
    padding: 40px;
    margin: 20px 0;
    background-color: #f4f1e8; /* Light beige */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #524e4d; /* Dark grayish brown */
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

footer {
    background-color: #524e4d; /* Dark grayish brown */
    color: #f4f1e8; /* Light beige */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    nav ul li a {
        font-size: 1em;
    }

    section {
        padding: 30px;
    }

    h2 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }
}
